.navbar {
  height: 200vh;
  background-color: #e5e5e5;
}

.navbar-brand img {
  height: 15%;
  width: 15%;
}

.navbar-icons {
  display: flex;
  align-items: center;
  // margin-right: 1rem;
}

.navbar-icons img {
  height: 25px;
  width: 25px;
}

.navbar-profile-picture img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  // padding-left: 10px;
}

.btn-group {
  display: flex;
  // justify-content: flex-end;
  margin-right: -5rem;
}

/* Navbar login button */
.navbar #login-button button {
  background-color: transparent;
  border-color: #2e266f;
  color: #2e266f;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
  width: 80px;
}

.navbar #signup-button button {
  background-color: transparent;
  border-color: #2e266f;
  color: #2e266f;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
  width: 80px;
}

/* Navbar login button hover effect */
.navbar #login-button button:hover {
  background-color: #5e50a1;
  color: #ffffff;
  border-color: #5e50a1;
}

/* Navbar login button hover effect */
.navbar #signup-button button:hover {
  background-color: #5e50a1;
  color: #ffffff;
  border-color: #5e50a1;
}

.navbar-icons img:hover {
  cursor: pointer;
  // color: #5e50a1;
}

.navbar-profile-picture {
  position: relative;
  cursor: pointer;
  display: inline-block;
  display: flex;
  margin-right: -80px;
  padding-left: 30px;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  // display: none;
  background-color: #232b2b;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.navbar-profile-picture:hover + .dropdown-menu {
  display: block;
}

.dropdown-item {
  list-style-type: none;
}

.dropdown-item a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: -25px;
}

.dropdown-item a:hover {
  color: #5e50a1;
}
