#job-page {
  background-color: #e5e5e5;
  overflow-y: hidden;
  // height: 300vh;
}

.hidden {
  display: none;
}

.abs {
  position: absolute;
}

.main-nav {
  display: flex;
  background-color: white;
  justify-content: space-around;
  height: 70px;
  align-items: center;

  * {
    padding: 0;
    margin: 0;
  }

  .main-logo {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 15%;
    // object-fit: contain;
    @media (min-width: 1000px) and (max-width: 1300px) {
      width: 100px;
    }

    @media (max-width: 1000px) {
      width: 100px;
    }

    @media (max-width: 768px) {
      width: 100px;
    }

    @media (max-width: 576px) {
      width: 100px;
      margin-right: -300px;
    }
  }
  ul {
    display: flex;
    list-style: none;
    width: 10%;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 1000px) and (max-width: 1300px) {
      width: 15%;
      margin-left: 800px;
      li {
        margin: 0 20px 0 0;
      }
    }

    @media (max-width: 1000px) {
      width: 15%;
      margin-left: 600px;
      li {
        padding: 0 20px 0 0;
      }
    }

    @media (max-width: 768px) {
      width: 20%;
      margin-left: 200px;
      // margin: 0 20px;
      li {
        margin: 0 20px 0 0;
      }
    }

    @media (max-width: 576px) {
      li {
        display: none;
      }
    }

    .react-icons-1,
    .react-icons-2 {
      color: #9b9b9b;
      font-size: 20px;
      cursor: pointer;
    }

    .react-icons-1:hover,
    .react-icons-2:hover {
      color: #5e50a1;
    }

    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      // width: 15%;
      // height: 15%;
      object-fit: cover;
    }

    img:hover {
      opacity: 0.9;
      cursor: pointer;
    }

    .nav-item {
      ul {
        border: none;
        display: flex;
        background-color: #1f2a36;

        .dropdown-item {
          color: white;
        }

        .dropdown-item:hover {
          background-color: #1f2a36;
          color: #7262c3;
        }
      }
    }

    .dropdown-container {
      position: absolute;
      bottom: 5px;
      right: 105px;
      // left: 50px;
    }

    .drop-down {
      display: flex;
      flex-direction: column;
      top: 100%;
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    // background-color: #1f2a36;
    justify-content: space-between;
    cursor: pointer;

    @media (max-width: 576px) {
      display: flex;
    }

    .toggle-icon {
      font-size: 20px;
      color: #5e50a1;
      transition: all 0.5s ease-in-out;
    }

    span {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #5e50a1;
      border-radius: 3px;
    }

    // span:first-child {
    //   transform-origin: 0 0;
    //   transform: rotate(45deg);
    // }
  }

  .hamburger {
    display: none;

    @media (max-width: 576px) {
      display: flex;
      li {
        display: flex;
        // position: absolute;
        margin-left: -400px;
        right: 0;
        flex-direction: column;
      }
    }
  }

  .hamburger {
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: #1f2a36;
    padding: 20px 30px 0 0;
    // padding-right: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 20vh;
    height: 50vh;
    z-index: 3;
    display: flex;
    justify-content: space-around;
    // display: flex;
    // justify-content: flex-end;

    li {
      // background-color: white;
      margin-left: 80px;
      color: white;
    }

    li:hover {
      color: #5e50a1;
    }
  }

  .menu-toggle:active .hamburger,
  .menu-toggle:focus .hamburger {
    display: flex;
  }

  .hamburger {
    display: none;
  }

  .show {
    display: flex;
  }

  .hide {
    display: none;
  }

  .btn-group {
    display: flex;
    flex-direction: row-reverse;
    @media (min-width: 1000px) and (max-width: 1300px) {
      // width: 450px;
      padding-left: 400px;
    }

    @media (max-width: 1000px) {
      padding-left: 400px;
    }

    @media (max-width: 768px) {
      padding-left: 400px;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      padding-left: 200px;
    }

    button {
      background-color: #5e50a1;
      width: 75px;
      height: 40px;
      border-color: #5e50a1;

      @media (min-width: 1000px) and (max-width: 1300px) {
        width: 65px;
        height: 30px;
      }

      @media (max-width: 1000px) {
        width: 65px;
        height: 30px;
      }

      @media (max-width: 768px) {
        width: 65px;
        height: 30px;
      }

      @media (max-width: 576px) {
        display: none;
      }
    }

    #login-button {
      button {
        background-color: white;
        color: #5e50a1;
      }

      button:hover {
        background-color: #5e50a1;
        color: white;
      }
    }

    #signup-button {
      button:hover {
        background-color: #7262c3;
        color: white;
      }
    }
  }
}

#jobs-content {
  overflow-y: hidden;
  .block-color {
    background-color: #5e50a1;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h2 {
      color: #fff;
      padding: 25px 120px;
    }
  }

  .search-content {
    // background-color: white;
    // padding: 10px 0px 0px 0px;

    input {
      background-color: white;
      border: none;
    }

    button {
      border: none;
    }

    .dropdown-search {
      border-left: 1px solid #9ea0a5 !important;
      color: #9ea0a5;
      background-color: white;
    }

    .dropdown-search:hover {
      background-color: whitesmoke;
    }

    .button-search {
      background-color: #5e50a1;
      color: white;
    }
    .button-search:hover {
      background-color: #5e50a1c4;
      color: white;
    }
  }

  .card-content .card-body {
    // width: 50%;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;

    @media (max-width: 600px) {
      flex-direction: column;
    }

    .image-content {
      flex: 0.5;
      display: flex;
      justify-content: center;
      img {
        height: 100%;
        width: 60%;
        object-fit: cover;
      }

      @media (max-width: 600px) {
        flex: 0.5;
        display: flex;
        justify-content: center;
        img {
          height: 100%;
          width: 30%;
          object-fit: cover;
        }
      }
    }
    .text-content {
      flex: 2;

      h2 {
        color: #1f2a36;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
        }
      }
      p {
        color: #9ea0a5;
        font-size: 16px;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
        }
      }

      .card-icon {
        margin-top: -10px;
        margin-bottom: 10px;
        @media (max-width: 600px) {
          display: flex;
          justify-content: center;
        }
        .react-icons-3 {
          color: #9ea0a5;
          font-size: 20px;
        }
      }

      .skill-badge {
        background-color: #efc81a !important;
        color: white !important;
        border: none !important;
        font-size: 14px;
        margin-bottom: -15px;
      }
    }

    .button-content {
      flex: 0.5;
      padding-right: 50px;

      button {
        @media (max-width: 600px) {
          height: 25px;
          font-size: 12px;
          margin-top: 10px;
          display: flex;
          align-items: center;
        }

        background-color: #5e50a1;
        border: none;
        margin-left: 60px;
      }

      button:hover {
        background-color: #5e50a1c4;
        border: none;
      }
    }
  }

  .pagination {
    margin-top: 30px;
    border: none;

    .pagination-nav:active {
      background-color: #ffffff;
      color: #5e50a1;
    }

    .pagination-nav .page-link:hover {
      background-color: #5e50a1c4;
    }

    .pagination-number-active {
      background-color: #5e50a1;
      color: #ffffff;
    }

    .pagination-previous,
    .pagination-next:active {
      background-color: #ffffff;
      color: #5e50a1;
    }

    .pagination-next,
    .pagination-previous:active {
      background-color: #ffffff;
      color: #5e50a1;
    }

    .pagination-previous:hover,
    .pagination-next:hover {
      background-color: #7262c3;
      border-color: #7262c3;
      color: #ffffff;
    }

    .pagination-number {
      background-color: #ffffff;
      color: #5e50a1;
    }

    .pagination-number:hover {
      background-color: #7262c3;
      border-color: #7262c3;
      color: white;
    }

    .page-link .pagination-number:active {
      background-color: #5e50a1 !important;
      border-color: #5e50a1 !important;
      color: white;
    }

    button:hover {
      background-color: #7262c3;
    }
  }
}

.footer {
  position: absolute;
  bottom: 10;
  width: 100%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  background-color: #5e50a1;
  color: #fff;
  text-align: center;
}

.footer .logo {
  width: 10%;
  height: 20%;
  margin-bottom: 20px;
}

.footer .hr {
  width: 100%;
  border: 1px solid #fff;
  margin: 20px 0;
}

.footer .info {
  width: 100%;
  p {
    margin: 0;
  }
}
