.main-nav {
  background-color: #ffffff;
}

#all-pages {
  height: 200vh;
  background-color: #e5e5e5;

  .navbar-brand img {
    height: 15%;
    width: 15%;
  }

  .navbar-icons {
    display: flex;
    align-items: center;
    // margin-right: 1rem;
  }

  .navbar-icons img {
    height: 25px;
    width: 25px;
  }

  .navbar-profile-picture img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    // padding-left: 10px;
  }

  .btn-group {
    display: flex;
    // justify-content: flex-end;
    margin-right: -5rem;
  }

  /* Navbar login button */
  .navbar #login-button button {
    background-color: transparent;
    border-color: #2e266f;
    color: #2e266f;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s ease;
    width: 80px;
  }

  .navbar #signup-button button {
    background-color: transparent;
    border-color: #2e266f;
    color: #2e266f;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.5s ease;
    width: 80px;
  }

  /* Navbar login button hover effect */
  .navbar #login-button button:hover {
    background-color: #5e50a1;
    color: #ffffff;
    border-color: #5e50a1;
  }

  /* Navbar login button hover effect */
  .navbar #signup-button button:hover {
    background-color: #5e50a1;
    color: #ffffff;
    border-color: #5e50a1;
  }

  .navbar-icons img:hover {
    cursor: pointer;
    // color: #5e50a1;
  }

  .navbar-profile-picture {
    position: relative;
    cursor: pointer;
    display: inline-block;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    // display: none;
    background-color: #232b2b;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
  }

  .navbar-profile-picture:hover + .dropdown-menu {
    display: block;
  }

  .dropdown-item {
    list-style-type: none;
  }

  .dropdown-item a {
    color: white;
    text-decoration: none;
    text-align: center;
    margin-left: -25px;
  }

  .dropdown-item a:hover {
    color: #5e50a1;
  }
}

//!/////////////////////////////////////////////////////

/* navbar animation (hide while scrolling down) */
.navbar.hidden {
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}

/* Navbar links */
.navbar .nav-link {
  font-size: 16px;
  font-weight: 600;
  transition: color 0.5s ease;
}

/* Navbar hover effect */

/* Navbar background color change on scroll */
@media (min-width: 992px) {
  .navbar.scrolled {
    background-color: #efc81a;
  }
  .navbar.scrolled .nav-link {
    color: #ffffff;
  }
  .navbar.scrolled #login-button button {
    border-color: #ffffff;
    color: #ffffff;
  }
  .navbar.scrolled #login-button button:hover {
    background-color: transparent;
  }
}

.navbar {
  transition: all 0.1s ease-in-out;
}

.navbar .active {
  text-decoration-line: underline;
}

/* navbar, edit color menu */
.navbar .navbar-nav .nav-link {
  color: #2e266f;
}

.navbar-profile-picture {
  display: flex;
  margin-right: -80px;
  padding-left: 30px;
}

.navbar-profile-picture img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: center;
}

/* Navbar logout button */
.navbar #logout-button button {
  background-color: transparent;
  border-color: #2e266f;
  color: #2e266f;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.5s ease;
}

/* Navbar logout button hover effect */
.navbar #logout-button button:hover {
  background-color: gray;
  color: #ffffff;
  border-color: gray;
}

#jobs-content {
  .block-color {
    background-color: #5e50a1;
    height: 100px;

    h2 {
      color: #fff;
      padding: 25px 120px;
    }
  }

  .search-content {
    // background-color: white;
    // padding: 10px 0px 0px 0px;

    input {
      background-color: white;
      border: none;
    }

    button {
      border: none;
    }

    .dropdown-search {
      border-left: 1px solid #9ea0a5 !important;
      color: #9ea0a5;
      background-color: white;
    }

    .dropdown-search:hover {
      background-color: whitesmoke;
    }

    .button-search {
      background-color: #5e50a1;
      color: white;
    }
    .button-search:hover {
      background-color: #5e50a1c4;
      color: white;
    }
  }

  .card-style {
    // margin-top: 30px;
    // border-bottom: 2px solid #f2f3f4;
    border: none;
    border-radius: 5px;

    .profile-image {
      height: 100px;
      width: 100px;
      object-fit: cover;
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin-bottom: -30px;
    }

    .button-content {
      background-color: #5e50a1;
      border: none;
      margin-left: 60px;
    }

    .button-content:hover {
      background-color: #5e50a1c4;
      border: none;
    }

    .card-text {
      margin-left: 20px;
    }

    .card-text h2 {
      color: #1f2a36;
      // font-weight: 600;
      margin-bottom: 10px;
    }

    .card-text p {
      color: #9ea0a5;
      // font-weight: 500px;
      font-size: 16px;
    }

    img,
    svg {
      vertical-align: middle;
      margin-top: -15px;
    }

    .skill-badge {
      background-color: #efc81a !important;
      color: white !important;
      border: none !important;
      font-size: 15px;
      margin-bottom: -15px;
      // height: 30px;
      // width: 100px;
      // display: flex;
      // align-items: center;
    }

    .content-line {
      bottom: 0;
      margin-bottom: -1px;
    }
  }
  .pagination {
    margin-top: 30px;

    .page-linx {
      background-color: white;
      border: gray 5px bold;
      color: #1f2a36;
    }

    .page-linx:hover {
      background-color: #5e50a1;
      border: #5e50a1c4;
      color: #1f2a36;
    }

    .page-linx.active {
      background-color: #5e50a1;
      border: #5e50a1c4;
      color: #1f2a36;
    }
  }
}

.footer {
  background-color: #5e50a1;
  color: #fff;
  height: 30vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
}

.logo img {
  width: 50%;
  margin-bottom: 20px;
}

.random-word {
  color: white;
  margin-top: 1rem;
}

.white-line {
  background-color: white;
  height: 2px;
  width: 424%;
}

.copyright {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  color: white;
  margin-top: 1rem;
}

.contact-details {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.contact,
.email {
  color: white;
  cursor: pointer;
}

.contact:hover,
.email:hover {
  color: black;
}
